.intro {
  padding: 10%;
  text-align: center;
}
.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* added and remove this class to html elements to hide and show divs*/
.hide {
  display: none;
}

#scoreDisplay {
  text-align: right;
  color: darkorange;
  font-weight: bold;
  font-size: 30px;
  margin-right: 30px;
  margin-top: 20px;
}

#gameOverScore {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: darkorange;
}