.intro {
  padding: 10%;
  text-align: center;
}

/* added and remove this class to html elements to hide and show divs*/
.hide {
  display: none;
}

#scoreDisplay {
  text-align: right;
  color: darkorange;
  font-weight: bold;
  font-size: 30px;
}